/*ESTILIZAÇÕES PADRÃO*/
* {
    margin: 0;
}

body { 
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal; 
    background-color: #23262b;
    display: flex;
    flex-direction: column;   
}

.efeitoMostrar {
    opacity: 0;
    animation: appear 1.2s forwards;
}

/*criar animações*/
@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*CABEÇALHO*/
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e4e1dc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("/assets/capaMedia.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 25vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #23262b;
    font-size: 3em;
    /* deslocamento-x | deslocamento-y | raio-de-desfoque | cor */
    text-shadow: 10px 8px 10px #23262b;
}

#logo {
    margin-right: 50px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #e4e1dc;
    box-shadow: 10px 15px 50px #23262b;
}

/*MENU*/
nav {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    width: 100wh;
    background-color: #e4e1dc;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: x-large;
}

nav a:visited, nav a {
    color: #23262b;
    text-decoration: none;
    transition: transform 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

/*RODAPE*/
footer {
    background-color: #31343a;
    margin-top: 20vh;
    padding: 20px;
    border-top: 1px solid #e4e1dc;
    color: #e4e1dc;
}

footer li {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer span {
    font-size: small;
    float: right;
}

footer span a {
    color: aquamarine;
    text-decoration: underline;
}

footer img {
    width: 20px;
}

/*HOME*/
.conteudoPrincipal, .conteudoSecundario {
    padding: 30px;;
    text-indent: 2em;
    margin-top: 10px;
    color: #e4e1dc;
    text-align: justify;
}

.conteudoPrincipal {    
    font-size: large;
}

.conteudoPrincipal img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width: 350px;
    height: 300px;
}

.conteudoSecundario img {
    float: right;
    margin-left: 10px;
    width: 200px;
    height: 150px;
}

/*CALCULADORA*/
.calculadora {
    background-color: #31343a;
    color: #e4e1dc;
    border: 1px solid #e4e1dc;
    width: max-content;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.calculadora input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calculadora h2 {
    text-align: center;
}

.calculadora .numbers {
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 5px;
}

.calculadora .showNumbers .numbers input {
    width: 100px;
    height: 10vh;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.result input {
    font-size: 40px;
    width: 150px;
    height: 15vh;
    font-weight: bolder;
    text-align: center;
    background-color: #adadad;
}

.calculadora .operacoes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.operacoes button{
    height: 65px;   
    width: 65px; 
    font-size: x-large;
    border-radius: 100%;
    border: none;
    background-color: tomato;
    transition: transform 0.3s;
}

#limpar {
    background-color: greenyellow; 
}

.operacoes button:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.showNumbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*FORMULÁRIO*/
input, textarea, select {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal; 
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e4e1dc;;
    font-weight: bolder;
}

textarea {
    resize: none;
}

.row {
    display: flex;
    gap: 30px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.col-sm-6 {
    width: 50%;
}

form button {
    width: 20%;
    height: 8vh;
    margin-top: 10px;
    border-radius: 10px;
    background-color: yellowgreen;
    color: white;
    align-self: flex-end;
    border: none;
    transition: transform 0.3s;
}

form button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

form {
    color:#e4e1dc;
    width: 40%;
    margin: 50px auto;
    padding: 20px;;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #31343a;
}

/*CARDAPIO*/
.cardapio {
    width: 70%;
    margin: 100px auto;
}

.cardapio table {
    width: 100%;
    border-collapse: collapse;
    font-size: larger;
}

.cardapio table, .cardapio th, .cardapio td {
    border: 1px solid #e4e1dc;
    text-align: center;
}

.cardapio th {
    color:#e4e1dc;
}

.cardapio td {
    color:#cfccc7;
    width: 30%;
}

.cardapio img {
    width: 100%;
    height: 30vh;
}

table tr:first-child, table tr:last-child{
    background-color: #31343a;
}

.listaDePratos {
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    width: 15%;
    border: 1px solid #cfccc7;
    border-radius: 5px;
}

ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    color:#e4e1dc;
}

.listaDePratos li a {
    color:#e4e1dc;
    text-decoration: none;
}

.listaDePratos ul li:nth-child(odd) {
    font-weight: bolder;
}

@media only screen and (max-width: 1100px) {	
    header {
        font-size: 1.5em;
        height: 15vh;
    }

    #logo {
        margin-right: 30px;
        width: 100px;
        height: 100px;
    }
    
    nav {
        background-color: #e4e1dc;
        height: 10vh;
        font-size: larger;
    }

    .conteudoPrincipal img {
        float: left;
        margin-top: 20px;
        margin-right: 10px;
        width: 40%;
        height: 20vh;
    }
    
    .conteudoSecundario img {
        float: right;
        margin-top: 10px;
        margin-left: 10px;
        width: 25%;
        height: 20vh;
    }

    footer li {
        font-size: 12px;
    }
        
    footer span {
        font-size: 10px;
    }

    .calculadora {
        background-color: #31343a;
        color: #e4e1dc;
        border: 1px solid #e4e1dc;
        width: max-content;
        padding: 20px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
    }
        
    .calculadora .showNumbers .numbers input {
        width: 70px;
        height: 5vh;
        font-size: xx-large;
    }

    .calculadora .result input{
        height: 10vh;
    }

    .operacoes button{
        height: 50px;   
        width: 50px; 
    }
    
    .operacoes button:hover {
        transform: scale(1.2);
        transition: transform 0.3s;
    }

    .cardapio img {
        width: 100%;
        height: 10vh;
    }

    .cardapio table {
        width: 100%;
        border-collapse: collapse;
        font-size: medium;
    }

    form button {
        height: 5vh;
    }    
}

@media only screen and (max-width: 725px) {
    header {
        min-width: min-content;
    }

    .conteudoPrincipal {    
        font-size: small;
    }

    .conteudoSecundario {
        font-size: xx-small;
    }

    form {
        min-width: 300px;
    }

    nav {
        background-color: #e4e1dc;
        height: 5vh;
        font-size: medium;
        min-width: max-content;
    }

    .cardapio img {
        width: 100%;
        height: 7vh;
    }

    .cardapio table {
        width: 100%;
        border-collapse: collapse;
        font-size: small;
    }

    .listaDePratos {
        width: 30%;
        font-size: small;
    }

    .row {
        flex-wrap: wrap;
    }

    label {
        font-size: small;
    }

    form button {
       width: auto;
    } 
    
    .calculadora {
        min-width: 200px;
    }
}



